%font-playfair-normal{
    font-family: 'Playfair-Display-normal';
    font-size: 16px; 
    color: #626262;
}
%article-meta{
    display: inline-block;
    font-family: 'Ubuntu-normal-300';
    font-size: 14px; 
    color: #B4AD9E;
    text-transform: uppercase;     
}
 